.card-container {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    background-color: #f16d6d;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    width: auto;
    height: 180px;
}

.card-container:hover {
    transform: scale(1.04);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    background-color: #f16d6dda;
}